:root{
    --primary-color: #FFC700;
    --paragraph-color: #4e4e4e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter",sans-serif;
}

.navbar{

}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}
.logo *{
    display: inline-block;
}
.logo img{
    height: 60px;
}
.logo span{
    position: absolute;
    right: 10px;
    z-index: 100;
}
.menu{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 100px 20px;
    /* display: none; */
    visibility: hidden;
    background-color: white;
    transition: visiblity 10s ease-in-out;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-outline{
    font-size: 2rem;
    margin-top: 10px;
}

.menu-item{
    margin: 10px 0;
}
.menu-item a{
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}
.menu-item:last-child img{
    border-radius: 50%;
}
@media (min-width: 768px) {
    .navbar{
        width: 100%;
        display: flex;
        padding: 8px 16px;
        align-items: center;
    }
    .logo span{
        display: none;
    }
    .logo{
        width: 25%;
    }
    .menu{
        background-color: transparent;
        width: 75%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: static;
        flex-direction: row;
        height: auto;
        visibility: visible;
        padding: 0;
    }
    .menu-item, .menu-item-non-login{
        margin: 0 20px;
    }
    .menu-item a, .menu-item-non-login a{
        font-size: 1.1rem;
        color: black;
    }
    .menu-item:last-child > a{
        padding: 2px;
        border-radius: 50%;
        border: 3px solid var(--primary-color);
        display: inline-block;
    }
    .menu-item:last-child > a > img{
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    .menu-item-non-login:last-child a{
        display: inline-block;
        color: black;
        background-color: var(--primary-color);
        padding: 8px 16px;
        border: 1px solid black;
        border-radius: 10px;
    }
}

@media (min-width: 992px) {
    .logo img{
        height: 80px;
    }
}